<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>worktimeWithMaven</display-name>
	<welcome-file-list>
		<welcome-file>/Login.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>Oracle Datasource example</description>
		<res-ref-name>jdbc/New Oracle</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
	<servlet>
		<description></description>
		<display-name>EmpController</display-name>
		<servlet-name>EmpController</servlet-name>
		<servlet-class>controller.EmpController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpController</servlet-name>
		<url-pattern>/EmpController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HoliController</display-name>
		<servlet-name>HoliController</servlet-name>
		<servlet-class>controller.HoliController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HoliController</servlet-name>
		<url-pattern>/HoliController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ProController</display-name>
		<servlet-name>ProController</servlet-name>
		<servlet-class>controller.ProController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProController</servlet-name>
		<url-pattern>/ProController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>NWorktimeServlet</display-name>
		<servlet-name>NWorktimeServlet</servlet-name>
		<servlet-class>controller.NWorktimeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NWorktimeServlet</servlet-name>
		<url-pattern>/NWorktimeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ManagerController</display-name>
		<servlet-name>ManagerController</servlet-name>
		<servlet-class>controller.ManagerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerController</servlet-name>
		<url-pattern>/ManagerController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>NWTServlet</display-name>
		<servlet-name>NWTServlet</servlet-name>
		<servlet-class>controller.NWTServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NWTServlet</servlet-name>
		<url-pattern>/NWTServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HurryWtServlet</display-name>
		<servlet-name>HurryWtServlet</servlet-name>
		<servlet-class>controller.HurryWtServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HurryWtServlet</servlet-name>
		<url-pattern>/HurryWtServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HurrymeServlet</display-name>
		<servlet-name>HurrymeServlet</servlet-name>
		<servlet-class>controller.HurrymeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HurrymeServlet</servlet-name>
		<url-pattern>/HurrymeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>WorkhourController</display-name>
		<servlet-name>WorkhourController</servlet-name>
		<servlet-class>controller.WorkhourController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WorkhourController</servlet-name>
		<url-pattern>/WorkhourController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdPwController</display-name>
		<servlet-name>UpdPwController</servlet-name>
		<servlet-class>controller.UpdPwController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdPwController</servlet-name>
		<url-pattern>/UpdPwController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ForgotPwController</display-name>
		<servlet-name>ForgotPwController</servlet-name>
		<servlet-class>controller.ForgotPwController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgotPwController</servlet-name>
		<url-pattern>/ForgotPwController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>VWorkhourAController</display-name>
		<servlet-name>VWorkhourAController</servlet-name>
		<servlet-class>controller.VWorkhourAController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VWorkhourAController</servlet-name>
		<url-pattern>/VWorkhourAController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SWTServlet</display-name>
		<servlet-name>SWTServlet</servlet-name>
		<servlet-class>controller.SWTServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SWTServlet</servlet-name>
		<url-pattern>/SWTServlet</url-pattern>
	</servlet-mapping>
</web-app>